@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  color: #fffafa;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  min-height: 60px;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 20px;
  top: 0;
  left: 0;
  right: 0;
}

.Menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.Menu a {
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 10px;
  flax-wrap: no-wrap;
}

.RightMenu a {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  flax-wrap: no-wrap;
}

a {
  text-decoration: none;
}

.Logo {
  width: 250px;
  height: 60px;
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  
}

footer {
  position: absolute;
  bottom: 0;
}

header {
  background-image: url("greenback.png");
  height: 75px;
  background-size: cover;
}
