@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  color: #fffafa;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* background-image: url("/public/images/backbody.jpg"); */
}

a {
  text-decoration: none;
}

.container {
  min-height: 60px;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 20px;
  top: 0;
  left: 0;
  right: 0;
  position: relative;
}

.Menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.Menu a {
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 10px;
  flex-wrap: no-wrap;
}

.RightMenu a {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  flex-wrap: no-wrap;
}

a {
  text-decoration: none;
}

.Logo {
  width: 250px;
  height: 60px;
  top: 5px;
  left: 0;
  right: 0;
}

header {
  background-image: url("greenback.png");
   background-size: 100% 70px;
    color: #fff;
    filter: drop-shadow(0 10px 20px rgba(0,0,0,.35));
    padding: 0 0 0 40px;
    font-weight: 400;
    width: 100%;
    height: 70px;
  filter: drop-shadow(0 10px 10px rgba(0,0,0,.85));
}
   
